<h1>Mes familles</h1>

<% @families.each do |family| %>
    <% if family.photo.attached? %>
    <%= image_tag family.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
    <% family.users.each do |user| %>
        <%= user.email %>
        <%= user.first_name %>
        <%= user.last_name %>
    <% end %>
    <%= link_to "Voir ma famille", family_path(family.id) %>
<% end %>
