<h1>Nouvelle famille</h1>

<%= form_with(url: new_family_path, method: "get") do %>
  <%= label_tag(:email, "Inviter:") %>
  <%= email_field(:user, :email) %>
  <%= file_field_tag 'Photo' %>
  <%= submit_tag("Ajouter") %>
<% end %>
