<h1>Ma famille - <%= @family.name %></h1>
<div class="card">
  <% if @family.photo.attached? %>
    <%= image_tag @family.photo, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="card-infos">
  <h2>La gazeteo est pour :</h2>
  <% if @family.members.any? %>
      <% @family.members.each do |member| %>
      <div class="card-infos-content">
            <%= link_to image_tag(member.photo, class: "avatar-large", alt: "avatar-large"), edit_family_member_path(@family.id, member.id) %>

        <%= member.first_name.capitalize %> <%= member.last_name.capitalize %>
        <%= link_to "Modifier", edit_family_member_path(@family.id, member.id), class: "btn btn-ghost" %>
      </div>
      <% end %>
    <% else %>
      <%= link_to "Ajouter", new_family_member_path(@family.id), class: "btn btn-ghost" %>
  <% end %>

  <h2>Les membres de la famille :</h2>
  <% @family.users.each do |user| %>
    <% if user.first_name && user.last_name && user.photo %>
      <%# <%= image_tag user.photo, class: "avatar-large", alt: "avatar-large" %>
      <ul>
        <li>- <%= user.first_name.capitalize %> <%= user.last_name.capitalize %></li>
      </ul>
    <% else %>
    <p>Invitation envoyée à :</p>
      <ul><li><%= user.email %></li></ul>
    <% end %>
  <% end %>

    <%# <%= form_with(url: add_member_family_path, method: "post" ) do %>
      <%# <%= label_tag(:email, "Inviter:") %>
      <%# <%= email_field_tag(:user, :email) %>
      <%# <%= submit_tag("Ajouter") %>
    <%# <% end %>
  </div>
  <div class="card-edit">
    <%= link_to edit_family_path(@family.id) do %>
      <%= fa_icon "pencil" %>
    <% end %>
  </div>
</div>
