<h1> Bienvenue </h1>
<div class="global-card">
  <div class="family-select card-family">
    <% if @families.exists? %>
        <% @members.each do |member| %>
          <div class="avatar">
            <% if member.photo.attached? %>
              <%= image_tag member.photo, class: "avatar-large", height: 300, width: 400, crop: :fill%>
            <% end %>
          </div>
        <div class="member-info">
          <div class="member-name">
            <h3><%= member.first_name.capitalize %> <%= member.last_name.capitalize %><h3>
          </div>
          <div class="number-users">
            <div class="number-users-count">
              <p><%= member.family.users.count %> membres</p>
            </div>
            <div class="number-users-plus">
              <%= link_to new_family_member_path(member.family.id) do %>
                <%= fa_icon "plus" %>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>

  <div class="new-post">
  <h3>Ajouter une publication</h3>
    <%= simple_form_for(@post, url: posts_path) do |f| %>
      <div class="form-group">
        <%= f.input :description, as: :text, input_html: {rows: 5, cols: 10}, placeholder: "Description", label: false %>
        <%= f.input :photo, as: :file, label: false %>
      </div>
      <div class="form-send">
        <%= f.submit "Ajouter une publication", class:"btn-green" %>
      </div>
    <% end %>
  </div>

    <div class="display-posts">
      <%= @current.strftime("%B") %>
      <% @posts.each do |post| %>
        <div class="post-display card">
          <div class="post-user">
            <div class="post-user-avatar">
              <% if post.user.photo.attached? %>
                <%= image_tag post.user.photo, class:"avatar-small" %>
              <% end %>
            </div>
            <div class="post-user-text">
              <h3><%= post.user.first_name.capitalize %> <%= post.user.last_name.capitalize %></h3>
              <p><%= post.created_at.strftime("%d/%m/%Y") %> à <%= post.created_at.strftime("%Hh%M") %></p>
            </div>
            <div class="post-user-link">
              <%= link_to edit_post_path(post.id) do %>
                <%= fa_icon "pencil" %>
              <% end %>
              <%= link_to post_path(post.id), data: { confirm: "Êtes-vous sûr.e de vouloir supprimer cette publication ?" }, method: :delete do %>
                <%= fa_icon "trash" %>
              <% end %>
            </div>
          </div>
          <div class="post-info">
            <%= image_tag post.photo%>
            <%= post.description %>
          </div>
        </div>
      <% end %>
    </div>
</div>
