<h1>Modifier la publication</h1>
  <%= simple_form_for [@post] do |f| %>
    <div class="form-group">
      <%= f.input :description, as: :text, input_html: {rows: 5, cols: 10}, label: false %>
      <%= f.input :photo, as: :file, label: false %>
    </div>
    <div class="form-send">
      <%= link_to "Annuler", root_path, class:"btn-ghost" %>
      <%= f.submit "Modifier", class:"btn-green" %>
    </div>
  <% end %>
