<h1>Toutes mes publications</h1>
<%= link_to "Ajouter une publication", new_post_path %>
<% @posts.each do |post| %>
  <div class="post-display">
    <%= post.description %>
    <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
    <%= link_to "Editer la publication", edit_post_path(post.id) %>
    <%= link_to "Supprimer la publication", post_path(post.id), data: { confirm: "Êtes-vous sûr.e de vouloir supprimer cette publication ?" }, method: :delete %>
  </div>
<% end %>
