  <%= form_with model: @post do |form| %>
    <div class="form-group">
      <%= form.label :Description %><br />
      <%= form.text_field :description %>
    </div>

    <div class="form-group">
      <%= form.label :Upload_Image %><br />
      <%= form.file_field :photo, :class => 'fileupload' %>
      <%= form.submit "Ajouter" %>
    </div>
  <% end %>
