<h1>Modifier membre</h1>

<%= form_with(model: [ @family, @member ]) do |f| %>
  <%= f.label(:first_name, "Prénom :") %>
  <%= f.text_field(:first_name) %>
  <%= f.label(:last_name, "Nom :") %>
  <%= f.text_field(:last_name) %>
  <%= f.label(:birthday, "Date de naissance :") %>
  <%= f.date_field(:birthday) %>
  <%= f.label(:address, "Adresse :") %>
  <%= f.text_field(:address) %>

  <%= f.file_field :photo %>
  <%= f.submit "Modifier" %>
<% end %>
